[2014-04-14 16:12] MorrisJobke opened #31 "Einzelseiten eines Blogpost werden nicht korrekt gerendert"
- Links sind nicht als solche umgewandelt (siehe http://codefor.de/blog/2014/04/14/Gruendung-OK-Lab-Chemnitz.html)

[2014-04-14 16:14] MorrisJobke opened #32 "Rendering der Blogübersicht falsch"
Es werden keine einzelnen Absätze erstellt, sondern ein durchgehender Textblock. Deswegen musst ich in dem Blogpost von Chemnitz `<br \>` einfügen, um Absätze zu bekommen (mit `<p>` hat es in der Übersicht keine Links gerendert)

Siehe http://codefor.de/blog/

[2014-04-23 17:26] fnogatz opened #46 "Anchors in Subsites"
Es wäre schön, direkt mittels http://codefor.de/ulm/#projects auf unsere Projekte verlinken zu können. Die `h3` sollten also mit Ankern versehen werden.

[2014-04-23 17:43] MorrisJobke commented on #46
Dein Wunsch sei mir Befehl ;) c42e96c

Es gibt:
- lab, events, projects, members

[2014-04-23 17:43] #46 closed, assigned to nobody

[2014-04-24 09:42] symptog opened #50 "Avatar Download"
das Pythonscript mag es nicht, wenn da ein Member keinen Namen hat. Vielleicht kann man das ja abfangen.

DEBUG:root:Processing Lab giessen/index.html
DEBUG:root:Processing Lab Member None
DEBUG:root:Checking github for None
Traceback (most recent call last):
  File "download_avatars.py", line 55, in <module>
    main()
  File "download_avatars.py", line 45, in main
    image_url = get_image(usern

[2014-04-24 09:50] symptog commented on #50
fixed

[2014-04-24 09:50] #50 closed, assigned to nobody

[2014-04-25 12:25] digisus opened #55 "assets/blog/muenchen"
Bitte den Ordner assets/blog/muenchen anlegen.

Oder mir kurz sagen, wie das geht, konnte nichts finden, bin aber auch neu als aktiver github User. :-)

Danke,
Marcus

[2014-04-25 12:31] symptog commented on #55
Hallo,

hast du schonmal mit git gearbeitet?
gute kurze anleitung -> http://rogerdudler.github.io/git-guide/index.de.html

wozu brauchst du das verzeichnis?

grüße
tobi

[2014-04-25 12:46] MorrisJobke commented on #55
@digisus Du kannst die Inhalte direkt bei dir lokal im Git anlegen und als Pull Request für dieses Repo einstellen.

[2014-04-25 19:37] PatrickStotz opened #57 "Link zu 'Neues Mittglied hinzufügen' für Städte anpassen"
Der Link hinter dem Button auf allen Städte-Subseiten führt zur Editor-Ansicht der Berliner index.html statt zur Index-Seite der jeweiligen Stadt

[2014-04-30 05:08] mattfullerton commented on #57
Fixed via f81a9b2247

[2014-04-30 05:08] #57 closed, assigned to nobody

[2014-04-30 13:13] MorrisJobke commented on #32
Fixed.

[2014-04-30 13:13] #32 closed, assigned to nobody

[2014-04-30 13:13] MorrisJobke commented on #31
Fixed

[2014-04-30 13:13] #31 closed, assigned to nobody

[2014-04-30 13:16] MorrisJobke opened #69 "Scrolling unterhalb der Karte auf Smartphone nur schwer möglich"
Mir ist vorhins aufgefallen, dass man nicht unterhalb der Karte kommt, wenn man mit dem Smartphone browst. Man kann nicht weiterscrollen, weil man in der Karte scrollt und zurück geht auch nicht, weil die Karte den ganzen Bildschirm einnimmt.

Wenn man schnell scrollt und die Karte überscrollt wird, geht es.

[2014-04-30 13:23] fnogatz opened #70 "Karte: Klick auf Label vs Pin (Gmap -> OSM Migration)"
Auf der Karte ist es möglich, sowohl per Klick auf das Label als auch den Pin zum entsprechenden OK Lab zu gelangen. Komisch wird's aber an den Stellen, wo sich Labels und Pins überschneiden: Die Labels überlagern zwar die Pins, dennoch führt einen ein Klick auf den Überschneidungsbereich auf das Ziel des Pins. Bsp Label OK Lab Ulm, wo der Pin für München drunter liegt.

Oehm, ist das Problem klar

[2014-04-30 19:22] mattfullerton commented on #70
Nicht so hilfreichen Vorschlag: auf Leaflet umsteigen :D

Hilfreicher:
Problem, mappane vs. floatpane:
http://stackoverflow.com/questions/13211655/google-maps-v3-infobox-zindex-not-functional#answer-13216458

Lösung, BoxOptions ändern(?):
https://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/docs/examples.html

[2014-04-30 23:03] streiten commented on #69
ok :-(
wir schauen mal - a.s.a.p.

[2014-05-01 08:45] MorrisJobke commented on #69
War mir nur so mal aufgefallen. Ich hab ein Galaxy Nexus (1280 × 720 Pixel) und es ist mir im Hochformat passiert.

[2014-05-07 08:49] keimlink opened #89 "Lizenz nicht im Repository angegeben, Lizenz für Code fehlt"
Im Repository ist eine Lizenz nicht angegeben. Die Datei `LICENSE.md` im obersten Verzeichnis des Repositories ist die vom HTML5 Boilerplate. Das liegt daran, dass die Dateien des HTML5 Boilerplate einfach in das oberste Verzeichnis des Repositories abgekippt wurden. In der Datei `impressum.html` steht, dass die Inhalte der Seite unter einer Creative Commons CC by 4.0 Lizenz stehen.

Daraus ergebe

[2014-05-07 18:49] #69 closed, assigned to nobody

[2014-06-30 11:09] ironjan commented on #89
Aktuell halten mich die oben genannten Probleme (insbesondere fehlende Lizenz für Code) davon ab, das Layout für unsere OK Lab Seite zu übernehmen - corporate design ;)

[2014-07-09 17:49] elf-pavlik opened #139 "multilingual content"
i would like to help with making it possible to besides publishing content in german also to have english version. IMO in software world english language acts as [Lingua franca](https://en.wikipedia.org/wiki/Lingua_franca)

[2014-07-09 18:51] elf-pavlik commented on #139
possibly useful links:
- http://developmentseed.org/blog/multilingual-jekyll-sites/
- http://nicoespeon.com/en/2014/04/multilingual-blog-with-jekyll-1-5/

[2014-07-16 19:34] johnjohndoe opened #159 "Reflect actual project status"
Afaik all projects are tagged with `In progress` ... which is **misleading** for visitors or even members of the labs. Finished projects such as the [`Tempelhofer Feld`](http://codefor.de/projekte/2014-05-19-be-tempelhof.html) should be marked as `finished` and projects [without active members](http://codefor.de/projekte/2014-06-26-altglas.html) should tell about what they are **searching for** su

[2014-08-27 17:28] elf-pavlik opened #184 "connect with cfapi"
https://github.com/codeforamerica/cfapi

"The Code for America API. Tracks and motivates activity and participation across the civic technology movement. http://codeforamerica.org/api"

i would also like to try that participants of different brigades contribute to same projects, related issue: https://github.com/codeforamerica/cfapi/issues/117

maybe not the top priority issue but if someone would

[2014-08-27 17:48] elf-pavlik commented on #159
:+1: maybe also worth trying to take advantage of http://hackdash.org/
ping @danzajdband

[2014-08-27 17:57] elf-pavlik commented on #184
looks like https://github.com/okfde/codefor.de/blob/gh-pages/download_avatars.py duplicates some of cfapi functionality, possibly they already can fetch twitter avatars as well!

@acorbi let's also look on coordinating your work on http://directory.open-steps.org/ + http://www.open-steps.org/events/ with work done on cfapi

[2014-08-27 18:39] elf-pavlik commented on #184
i see similar issue i posted in cfapi in http://codefor.de/projekte/alle.html
only one lab per project IMO very non collaborative practice :-1:

[2014-10-15 13:44] johnjohndoe opened #223 "Events of all cities on front page"
The upcoming events of all cities should be displayed on the front page. This will make it easier to see what is going on in all the OK Labs.

[2014-10-15 13:45] johnjohndoe commented on #139
:up:

[2014-10-15 17:43] chk1 commented on #70
MIttel- oder Rechtsklick auf einen Pin oder Label funktioniert leider ebenfalls nicht.
Auch dafür scheint es ein paar Workarounds zu geben:
http://stackoverflow.com/questions/8317949/how-to-make-a-google-maps-marker-a-simple-url-link
http://stackoverflow.com/questions/9481476/javascript-click-event-for-any-google-maps-markers

Der Umstieg auf Leaflet wäre ansonsten nicht so schwer. Ich wüsste nur

[2014-11-26 23:52] almereyda commented on #184
@jochenklar I've meant this `cfapi`. Let's talk about it later, and how it integrates with `PLP` @acorbi .

[2014-11-26 23:54] almereyda opened #238 "Search is missing."
Search will only work if GitHub's [automatic deployment via `gh-pages` branch is abandoned](http://jekyllrb.com/docs/plugins/) and seperated (self-rendered) branches for `source` and `gh-pages` are being used.

As an intermediary, @jochenklar, I could offer to deploy some CI so we run the plugins ourselves, after a Post Receive Hook has been triggered.

What'cha think?

[2014-11-27 00:17] almereyda opened #239 "Blog pagination is enerving."
I'd like to get a quick overview about the last blog posts, without having to _click, scroll, click, scroll_ and so forth.

[2014-11-27 05:32] almereyda commented on #89
Bitte mal #240 #241 #242 und #243 auschecken. Wmgl. hilft die neue `CONTRIBUTING.md` ein wenig Licht ins Dunkel zu bringen.

Ich möchte empfehlen dem Umstand **1.** auch ein eigenes Issue zu widmen, ganz à la _Spätjahrsputz_ ... qua reenemachen bevor [zum Fest](http://24pullrequests.com) die Verwandtschaft antanzt ...

[2014-12-19 14:38] ironjan opened #258 "Sort "Termine" by date"
Right now the events are unsorted/displayed as specified in [https://github.com/okfde/codefor.de/blob/gh-pages/_data/events.yml](events.yml). This leads to confusing arrangement of events, see screenshot.

Unfortunately this issue cannot be solved by the "standard" sorting way and would need some adaptions to the event-model.
- `day-nr` and `month` should be merged into a yyyy-mm-dd formatted `dat

[2014-12-21 23:38] streiten commented on #239
true. should be better now!

[2014-12-21 23:38] #239 closed, assigned to nobody

[2014-12-26 20:31] streiten commented on #258
nevertheless we are heading towards meetup integration:
- events are stored as a jekyll collection now (_termine)
- the event date/day/month/year is stored in a proper date string in front-matter now  (unfortunatley the date in filename seems not available for collections/pages)
- the eventlist is sorted
- past events are not beeing output (on build)

@juliakloiber @arduina

[2014-12-26 20:31] #258 closed, assigned to nobody

[2014-12-26 20:35] streiten commented on #159
'In Progress' is default.
You can set the project status through a status attribute in front-matter (e.g. 'status: finished')

[2015-01-02 07:41] PatrickStotz commented on #70
Hier ein Vorschlag um die Usability-Probleme zu lösen und gleichzeitig auf Leaflet + OSM basemaps umzustellen:
https://dl.dropboxusercontent.com/u/54512470/codeforde_map/index.html

Ich krieg das leider nicht in einen pull request zusammengefügt, aber eigentlich müsste das mit der Grundlage recht fix zu machen sein.

[2015-01-02 08:10] MorrisJobke commented on #70
@PatrickStotz Sieht spitze aus! :+1:

[2015-01-02 13:49] johnjohndoe commented on #70
:+1:  für OpenStreetMaps, super @PatrickStotz

[2015-01-05 11:32] johnjohndoe commented on #159
Yes. I found two projects which actually changed the status of their project. All other use `In progress`. I would love to see something more informative as mentioned previously. Please share your thoughts.

[2015-01-05 14:22] elf-pavlik commented on #159
@johnjohndoe do you come to the lab this evening? we could discuss it IRL

[2015-01-05 20:30] johnjohndoe commented on #159
I just saw that the `status` of a project only changes in the projects overview page:

**From the projects overview page:**
![tempelhof-overview](https://cloud.githubusercontent.com/assets/144518/5619401/b9ca6d58-9521-11e4-84bf-a18df879ed83.png)

... but it does not render the same `status` on the detail page.

**From the project detail page:**
![tempelhof-details](https://cloud.githubusercontent.

[2015-01-05 23:29] elf-pavlik commented on #159
hmmm... looks like something goes wrong here:
- https://github.com/okfde/codefor.de/blob/gh-pages/_includes/project-teaser-slim.html#L48

those lines look working fine:
- https://github.com/okfde/codefor.de/blob/gh-pages/_includes/project-teaser.html#L28
- https://github.com/okfde/codefor.de/blob/gh-pages/_includes/project-teaser.html#L42

[2015-01-06 01:43] streiten commented on #159
uh oh.. sorry for that. fixed now!

[2015-01-06 05:22] streiten commented on #70
@PatrickStotz gibt es die Möglichkeit beim Styling noch etwas ins Detail zu gehen um näher am ursprünglichen Design zu bleiben ? d.h:
- Wasser blau
- Gebäude und Strassen in unterschiedlichen grau Abstufungen
  Gerade bei den Lab-Maps (z.b. http://codefor.de/stuttgart/index.html) war uns das wichtig, da die Karte dann einen visuellen Fingerprint der Stadt darstellt und die unterschiedlichen Labpag

[2015-01-06 09:43] johnjohndoe commented on #159
[Much better](https://github.com/okfde/codefor.de/commit/9d5c8e7b5fd149d2b7285533ffab5624458f82c9), thanks @RU-Alex

[2015-01-06 11:39] PatrickStotz commented on #70
Hmm, an den Styles der Hintergrundkarte (Wasserfarbe, Gebäude) kann man leider nichts drehen. Sind ja vorgerenderte Maptiles (und selbst welche zu erstellen wäre mit zu aufwändig)
Ich hatte ganz vergessen dass die Karten auch für die Städteseiten genutzt werden. Hab die Zoombegrenzung in meiner Karte jetzt angepasst. So sieht man beim nah ran zoomen das Straßenraster. Allerdings kein Gebäude.
Das

[2015-01-11 04:48] PatrickStotz commented on #70
So, ich konnte die Dreiecke durch Anpassen der leaflet.label.css loswerden. Zudem liegen jetzt Links zu codefor.de auf allen Labels & Pins. Das Ganze sollte auf jeden Fall vor der Integration auf Browserkompatibilität etc. geprüft werden. Bei mir ist JavaScript nicht viel mehr als trial & error...
Ach ja, die neuen Labs habe ich auch integriert: https://dl.dropboxusercontent.com/u/54512470/codefor

[2015-01-11 10:10] MorrisJobke commented on #70
@PatrickStotz Dresden fehlt ;)

[2015-01-11 10:15] chk1 commented on #70
Was den Karstenstil angeht gibt es ein paar Möglichkeiten, z.B. selbst kreiren und dann von Mapbox hosten lassen.

Oder selber einen Stil erstellen und rendern lassen, z.B. hiermit: https://github.com/ubergesundheit/ma-tiles. Ist ein fertiger Docker-Container der alles mitliefert, man muss noch einen API-Key von Mapbox haben (kostenlos bis zu einer bestimmten Anzahl an Anfragen, ich denke mit Cach

[2015-01-11 10:18] MorrisJobke commented on #70
@chk1 oder wir nehmen einfach unseren eigenen Tileserver, der schon für Code for Germany existiert ,)

[2015-01-11 11:06] chk1 commented on #70
@MorrisJobke klingt gut :+1:

[2015-01-11 13:21] MorrisJobke commented on #70
Wenn es den Style der Tiles gibt,  braucht man das ja "nur" anpassen. Ist auf jeden Fall einfacher als die sich komplett neu aus den Fingern zu ziehen ;)

[2015-01-12 12:21] moklick commented on #70
Um Platz zu sparen und die Karte übersichtlicher zu gestalten, könnte man "OK Lab" bei den Labels weglassen und dann sowas wie "OK Labs" über die Karte schreiben.

[2015-01-16 13:05] streiten commented on #70
wir haben das jetzt mal noch auf googlemaps angepasst...

[2015-01-16 22:29] PatrickStotz commented on #70
@MorrisJobke: Oh stimmt, Dresden war mir durch gerutscht
@RU-Alex: Von der Usability her passt das jetzt wieder.

Die Optik finde ich bei der Google Basemap eher so lala, aber das ist wohl Geschmacksache. Mein Ansatz war die Kombi CartoDB Positron + Stamen Toner Lines. Eben weil ich den Aufwand eigene Tiles zu stylen & zu hosten vermeiden wollte. Der Style von Toner findet sich hier: https://githu

[2015-01-25 12:51] streiten commented on #70
Wir haben jetzt dbzgl. Untersützung bei uns im Team und könnten dir Migration jetzt angehen.
Oder möchte das jemand von euch machen ?
@MorrisJobke @PatrickStotz @juliakloiber

[2015-02-03 14:06] drewrwilson opened #287 "Some broken links on projects page"
![image](https://cloud.githubusercontent.com/assets/4324656/6021447/2c27aafa-abb6-11e4-80f6-9dd48631de02.png)

I think the links are relative instead of explicit. Just filing a ticket now and I can go back later and fix them.

[2015-02-03 17:08] #287 closed, assigned to nobody

[2015-02-16 23:55] PatrickStotz commented on #70
Sorry, bin gerade in Neuseeland unterwegs und dementsprechend selten online. Klar, macht ruhig und übernehmt einfach von meinem Vorschlag was immer euch nützlich erscheint.

[2015-02-19 01:18] HerHde opened #300 "Replace gMaps with OSM"
Ahoj,
how about replacing the proprietary Google Maps with **Open**StreetMaps? **Open** Knowledge, free software and so on...

[2015-02-19 02:05] HerHde opened #301 "Restructure HTML source"
The HTML and CSS classes are a mess:
- Most pages do not have any `H1`-Tags, but `H2` and `H3` as first headline. The _oklabs_-Page for example has none at all.
- **Bootstrap**'s [structure](http://getbootstrap.com/css/#grid-intro) is often violated. [Bootlint](/twbs/bootlint) may help to check the errors.
  - There is no common theme defining the usage of the Bootstrap grid system
  - Why do we o

[2015-02-19 02:25] HerHde opened #302 "Clean the root?"
It's a pain to look at the root, how about...
1. move oklabs into an own folder? E.g. `/oklabs/paderborn/index.html`
2. put all Pages into an subfolder? Maybe altering it from `/pagename/index.html` to `/pages/pagename.html`
3. move the Apple icons into a subfolder of img?
4. put all assets together? E.g. `/assets/css/...` and `/assets/img/...`

[2015-02-19 10:33] streiten commented on #70
Wir haben jetzt den aufs Design optimierten Mapsstyle (https://api.tiles.mapbox.com/v4/codeforgermany.cc5365b0/page.html?access_token=pk.eyJ1IjoiY29kZWZvcmdlcm1hbnkiLCJhIjoiMVg2ZGdSSSJ9.JsM4S0LZpeNmI1rHQnCxig#9/51.7636/10.9616), aber noch keine Zeit die Marker & Lables zu integrieren. Hier ist auch keiner so richtig mit der OpenStreetMaps/Leaflet API vertraut - könnte das jemand von euch übernehme

[2015-02-19 10:35] streiten commented on #300
duplicate of #70

[2015-02-19 10:35] #300 closed, assigned to nobody

[2015-02-19 21:09] jongleur1983 commented on #70
ich werd mal gucken, ob ich am Wochenende dazu komme, mir das näher anzugucken.

[2015-02-19 21:58] chk1 commented on #70
Ich hab mich mal daran versucht:
 23927c78c78a477cf2b4ee7aab6cf2bcf9d152d0

In Kürze:
- basiert auf der Demo von @PatrickStotz oben
- der Mapstyle von @RU-Alex ist drin
- verwendete Plugins sind `Leaflet.Label` und `Leaflet.awesome-markers`
- alle Scripte von externen CDNs
- bisher nur Code für die Übersichtskarte auf der Hauptseite

Was mir irgendwie Kopfschmerzen bereitet sind die Label: Ich bek

[2015-03-02 11:51] soniaskhan opened #309 "How to create a Pressespiegel list"
What's the best way to create a clean bullet point-style list of press links with date, title, and press organization? @RU-Alex

[2015-03-02 17:12] juliakloiber opened #310 "Progress Bar (Startseite)"
Code for pakistan has a great counter on their homepage: http://codeforpakistan.org/
Would be great to also have something similar on our website: Counting Members, Repos etc.

[2015-03-03 15:53] drewrwilson commented on #139
Great! Just saw this issue. @soniaskhan is actually already going through and translating content. @elf-pavlik @johnjohndoe still interested in making this happen?

[2015-04-08 15:21] metawops opened #332 "Markdown links don't work in projects overview (but in single project page)"
In a Lab's projects overview page, when the project description contains Markdown links, they don't work. See this screenshot: ![screen shot 2015-04-08 at 15 51 45](https://cloud.githubusercontent.com/assets/376090/7048421/4f782a54-de13-11e4-90d5-56c653c61d25.png)

The single project page, however, _can_ display the Markdown link correctly, as shown here:
![screen shot 2015-04-08 at 15 51 58](http

[2015-04-08 15:58] streiten commented on #332
fixed now!

[2015-04-08 15:58] #332 closed, assigned to nobody

[2015-04-08 18:30] metawops commented on #332
Super! :+1:

[2015-04-09 09:04] juliakloiber opened #334 "München Transparent: Please add additional info"
Missing link
Missing picture
From "in progress" to "finished"

http://codefor.de/projekte/2014-07-14-Muenchen-Transparent.html

[2015-04-09 09:14] soniaskhan opened #335 "München How-To Datenjournalismus: Please add additional info"
Missing picture
Missing description
Missing link
From "in progress" to "finished"?
@MarHai

[2015-04-09 09:18] soniaskhan opened #336 "München Defibrillatoren in OSM: Please add additional info"
Add link (if there is a link)
Add photo
@MarHai

[2015-04-09 09:27] soniaskhan opened #337 "München finder app: Please add additional info"
Is the defibrilatoren app an add-on to the finder app? Should it be its own project?
@MarHai

[2015-04-09 09:36] soniaskhan opened #338 "Ulm: Please add additional info"
Is there a link to a finished Kita project?

Can we create individual projects for "PROJEKTE RUND UM ULM"?
@berb

[2015-04-09 09:47] soniaskhan opened #339 "Magdeburg: Please add additional info"
Is Rechtegewalt still "in progress"?
@filter1

[2015-04-09 10:16] soniaskhan opened #340 "Magdeburg: Please add additional info"
Is this project still "in progress"?

[2015-04-09 10:16] #340 closed, assigned to nobody

[2015-04-09 10:29] soniaskhan opened #341 "Köln Trinkwasser: Status"
- status still "in progress"?
  @marcel12bell

[2015-04-09 10:31] soniaskhan opened #342 "Köln Defibrillatoren: Link + Status"
-Status still "in progress"?
-Link doesn't work
@marcel12bell

[2015-04-09 10:43] soniaskhan opened #343 "Münster Weihnachtsmarkt app: Please add additional info"
-Status: still "in progress"?
-Missing photo
@milafrerichs

[2015-04-09 10:45] soniaskhan opened #344 "Münster OffenerHaushalt: Please add additional info"
-Missing picture
-Is the status still "in progress"?
@milafrerichs

[2015-04-09 10:48] soniaskhan opened #345 "Münster Wahlprogramm: Please add additional info"
-Status is still "in progress"?
-Typo --> "WAHLPROGRGAMM"
@milafrerichs

[2015-04-09 11:50] soniaskhan opened #346 "Leipzig Kitas Verzeichnis: Link"
-Demo Link not found
@RicardoUsbeck

[2015-04-09 12:06] soniaskhan opened #347 "Hamburg: Kita Finder Photo"
-Change photo for consistency

[2015-04-09 12:46] soniaskhan opened #348 "Berlin Vornamen: Add photo"
-Missing photo

[2015-04-09 13:09] soniaskhan opened #349 "Berlin Weihnachstmärkte: Link + Status"
-Status: 'In progress'?
-Link: Only to github
@tursics

[2015-04-12 21:18] konstin commented on #334
No, it's still WIP and marked as "public beta".

CC @catoth

[2015-04-13 09:08] #348 closed, assigned to nobody

[2015-04-13 09:44] tursics commented on #349
Stimmt. Werde ich ergänzen.

[2015-04-13 10:05] RicardoUsbeck commented on #346
@DebVortex

[2015-04-13 12:06] jfilter commented on #339
Yes, I want to improve it. But it is possible to consider it as a 'working' project. Do you want me to change it? :)

[2015-04-13 12:28] arduina commented on #339
@filter1 - wie wär's mit "Sucht Mitmacher"?  So wie: http://codefor.de/projekte/2014-03-22-hn-trinkwasser.html

[2015-04-13 12:39] jfilter commented on #339
Ja, kann man machen. Wollt ihr das 'in progress' wegbekommen? ;)

[2015-04-13 12:53] arduina commented on #339
Nicht unbedingt, aber "sucht Mitmacher" hat vielleicht einen höheren Informationswert für die geneigten LeserInnen, oder? :)

[2015-04-13 17:28] DebVortex commented on #346
Thanks for reporting this Issue! We already faced this problem a while ago but have just forgotten it. The Link to the demo link was created from a former leipzig member. I created a pull request and removed the link for now. We going to release the project, soon and then will update the link.

[2015-04-13 19:55] #346 closed, assigned to nobody

[2015-04-14 15:02] marcel12bell commented on #342
done... link will stay broken. (removed it to fix it... )

[2015-04-14 15:02] #342 closed, assigned to nobody

[2015-04-14 15:03] marcel12bell commented on #341
no. is now finished. @soniaskhan  greetings from cologne!

[2015-04-14 15:03] #341 closed, assigned to nobody

[2015-04-18 07:48] MarHai commented on #337
it should (as soon as it's finished) be an application out of the finder app. the latter is a generic framework that needs data in order to manifest an application.

[2015-04-18 07:49] MarHai commented on #336
there is none (yet)

[2015-04-18 07:53] MarHai commented on #335
done

[2015-04-18 08:58] #335 closed, assigned to nobody

[2015-04-22 22:20] #343 closed, assigned to nobody

[2015-04-23 05:48] #344 closed, assigned to nobody

[2015-04-23 17:31] chk1 commented on #70
Mein Pullrequest ist ja nun einen Monat her und inzwischen wurden wieder Sachen an der Karte geändert (blaue Symbole und Legende), hat sich sonst noch was verändert oder ist was geplant?

Vielleicht könnte erst die Leafletkarte übernommen werden, bevor weiter verändert wird, weitere Konflikte reinmergen ist ja eine recht aufwändige Prozedur. Falls was mit dem PR nicht ok ist bitte sagen.

[2015-04-23 17:58] streiten commented on #70
oh nein, das muss ich mich entschuldigen! das ist etwas blöd gelaufen... erst keine zeit mir das an zu schauen - dann musste es super schnell gehen mit den änderungen/blauen markern für hack your city. (die sollen bis ende des jahres bleiben) ich schau gleich mal ob ich das gemerged und vielleicht selbst aktualisiert kriege...

[2015-04-23 18:05] chk1 commented on #70
Ok kein Problem :) Kann am Wochenende auch nochmal drüberschauen

[2015-04-23 21:46] streiten commented on #70
bye bye gmaps, hello osm (ist gemerged)!

[2015-04-23 21:55] johnjohndoe commented on #70
:+1: Vielen Dank, sehr geil.

[2015-04-29 08:35] #309 closed, assigned to nobody

[2015-05-17 11:06] #334 closed, assigned to nobody

[2015-05-18 19:36] ironjan opened #399 "Typo im Code of Conduct"
http://codefor.de/code-of-conduct/

Fehlerhaft:
`Die Projektleitung von Code for Germany sollte informiert und einbezogen werden, um die ähnliche Konflikte in Zukunft besser lösen zu können.`

Korrekt:

`Die Projektleitung von Code for Germany sollte informiert und einbezogen werden, um ähnliche Konflikte in Zukunft besser lösen zu können.`

(ein "die" ist zu viel).

[2015-05-18 20:18] MorrisJobke commented on #399
PR is welcome ;)

[2015-05-18 20:19] #399 closed, assigned to nobody

[2015-05-25 18:37] michael-k opened #404 "No projects are shown for Stuttgart"

[2015-05-26 21:45] #404 closed, assigned to nobody

[2015-06-01 13:05] saerdnaer commented on #55
@digisus Die Sache hat sich inzwischen erledigt, oder?

[2015-06-01 13:09] saerdnaer commented on #336
@MarHai Maybe a screenshot of https://umap.openstreetmap.fr/en/map/defi-munchen_29077 and a link to http://wiki.osm.org/München/Defi ?

[2015-06-01 13:20] saerdnaer opened #423 "Add 'edit this page' link on codefor.de"
I think it would be easier for new people to edit/create pull requests when there is an link to the coresponding file on github. For example on http://codefor.de/muenchen/ there should be a link to https://github.com/okfde/codefor.de/blob/gh-pages/muenchen/index.html

[2015-06-01 14:49] MarHai commented on #423
Good idea but I think they need to be separated according to the page sections. So for codefor.de/muenchen it would be ...
- General/Map location: https://github.com/okfde/codefor.de/blob/gh-pages/muenchen/index.html
- Termine: https://github.com/okfde/codefor.de/blob/gh-pages/_termine/OK_Lab_Munich.md
- Projekte: https://github.com/okfde/codefor.de/tree/gh-pages/projekte (every project has an own

[2015-06-01 16:41] #55 closed, assigned to nobody

[2015-06-05 08:16] saerdnaer commented on #337
Hier mal ein Screenshot:
![image](https://cloud.githubusercontent.com/assets/40266/8002051/de83a6bc-0b6b-11e5-8f0d-737c12d3ada3.png)

[2015-06-17 09:47] michael-k opened #444 "Links from projects to labs are broken"
To reproduce:
- Go to project overview: http://codefor.de/projekte/
- Check out where the OK Lab links lead to: right back to http://codefor.de/projekte/ instead of the lab
- Go to a project's page, e.g., http://codefor.de/projekte/2011-12-31-buergerbautstadt.html
- Again, the link to the OK Lab leads nowhere.

That is, because the hrefs are empty.

[2015-06-18 08:45] #444 closed, assigned to nobody

[2015-07-01 14:57] juliakloiber opened #451 "Presse Links adden"
http://www.sz-online.de/nachrichten/studenten-helfen-bei-der-parkplatzsuche-3128007.html
http://www.tagesspiegel.de/berlin/architekturfestival-makecity-in-berlin-wie-aktivisten-die-stadtplanung-transparenter-machen/11920360.html

[2015-07-20 19:02] #451 closed, assigned to nobody

[2015-07-20 19:04] k-nut commented on #451
Live at http://codefor.de/presse/. Gut so? @juliakloiber

[2015-07-21 19:17] streiten opened #467 "Stories translation to EN"
hey, the content is ready and i just wanted to quickly check back about how to implement this. @jochenklar, @juliakloiber told me you worked on the multilang so far. do you have some pointers on how to approach the stories ? currently it's a collection. i am thinking of setting up a new collection _storiesEN that renders to en/stories/ . do you think this will work or should the stories be moved t

[2015-07-22 08:54] flapperleenie commented on #467
Setting up _storiesEN should be okay, as far as I can tell! The content is ready, yes :)

[2015-07-23 03:55] streiten commented on #467
ok, it's set up in the stories branch now! @flapperleenie could you please edit the docs in _stories_en and once everything is there we merge it to the gh-pages branch. sorry for the delay btw.

[2015-07-25 12:31] jochenklar commented on #467
hi, I am currently on vacation in croatia. When I'm back I will look into it. If you don't hear from me next week, please remind me again.

Also @k-nut might add something to this.

cheers,
Jochen

[2015-07-25 15:50] flapperleenie commented on #467
Hi again,
Somehow can't push the content, it keeps telling me "src refspec stories matches more than one". Is there a quick fix for this?
Cheers,
Eileen

[2015-07-26 00:15] k-nut commented on #467
Hey @flapperleenie,
what did you run that gave you this output? Are you running from the terminal or do you use the guthub client? Did you make sure to commit before pushing?

Am 25. Juli 2015 17:50:07 MESZ, schrieb flapperleenie notifications@github.com:

##

Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2015-07-26 07:59] flapperleenie commented on #467
Hi @k-nut,
I'm running the github client, did commit before I tried to push... Let me try terminal and get back to you!

[2015-07-27 13:39] flapperleenie commented on #467
Apologies for the delay (and the redundant commits), turns out I just had to delete the tag 'stories' to push because it's ambiguous :)

[2015-07-27 22:06] streiten commented on #467
sorry, the 'stories' tag was probably my fault. anyhow, it's fixed now and i just merged the stories branch to gh-page - so the english version is live. looks to me everything is working as expected. @jochenklar , @k-nut should you have any recommendations for the code/approach please reopen and let me know!

[2015-07-27 22:06] #467 closed, assigned to nobody

[2015-07-27 22:07] #70 closed, assigned to nobody

[2015-08-10 17:32] maxlath opened #481 "the "Improve this map" link in the embedded mapbox leads to a 404"

[2015-10-10 15:28] MorrisJobke opened #506 "Beginners Info"
Ich hab hier einen Link: https://docs.google.com/document/d/11zGFROsyVcHeJDA0YKJZQRZjZfCN4V_uCnTbu4rYgHg/edit

Da sollen laut @juliakloiber erstmal die Infos für Neulinge rein. Doch wo soll ich den Link jetzt auch die Webseite setzen? Es soll ja für generelle Fragen herhalten können und deshalb sehr präsent sein.

[2015-10-10 15:28] MorrisJobke commented on #506
Das ist quasi unser "Wiki" ;)

[2015-10-12 07:40] #481 closed, assigned to nobody

[2015-10-12 09:50] johnjohndoe opened #509 "Advertise new projects"
New projects are added to the cities at random times. Visitors of the [website](http://codefor.de) have a hard time noticing them. One could navigate to [`/projekte/alle/`](http://codefor.de/projekte/alle/) and scroll to the end of the page to find new projects. But this requires the knowledge that the list of all projects is sorted this way. This is not obvious.

# Room for improvement
- [ ] New

[2015-10-12 17:21] k-nut commented on #139
cleanup time! We implemented this quite a long time ago so I am closing this as done! Thank you for pointing it out elf, it was missing for too long! :)

[2015-10-12 17:21] #139 closed, assigned to nobody

[2015-10-12 18:34] johnjohndoe commented on #139
How is the status with regards to the project descriptions? Can people create an English and a German version of the project description and switching happens automatically?

[2015-10-13 08:02] johnjohndoe commented on #310
I added a screenshot .. before it disappears.

![Counter](https://cloud.githubusercontent.com/assets/144518/10449079/5e721814-7191-11e5-848a-b7793149c0c5.png)

[2015-10-13 08:03] johnjohndoe commented on #349
Related: #159

[2015-10-13 08:03] johnjohndoe commented on #345
Related #159

[2015-10-13 08:03] johnjohndoe commented on #339
Related #159

[2016-01-11 17:56] k-nut opened #541 ""Rückblick 2014" aus Header entfernen."
Jetzt ist schon 2016 aber im Header ist immer noch der Rückblick für 2014 verlinkt.

Ich finde, dass das ein bisschen unaktuell wirkt und wir es zumindest da oben entfernen sollten.

Meinungen?!

[2016-01-14 20:42] johnjohndoe commented on #541
:+1:

[2016-02-01 10:16] k-nut commented on #541
Jetzt wo der neue Rückblick da ist, ist das ja geklärt :)

[2016-02-01 10:16] #541 closed, assigned to nobody

[2016-02-01 20:39] johnjohndoe opened #552 "Add Slack to website"
Add Slack to website so new people can find it easily.
https://openknowledgegermany.slack.com

[2016-02-02 09:31] arduina commented on #552
Hm, meinst du? Eigentlich ist das ja ein "closed" Team, zu dem man ohnehin erst eingeladen werden muss. m.E. liegt das Einladen neuer Leute in der Verantwortung der Lab Leads, die ja auch alle Admins sind.

[2016-02-29 15:00] gitviola opened #568 "Ein Projekt sollte zu mehreren OK Labs gehören können"
Derzeit ist die Webseite darauf ausgelegt, dass nur ein Projekt zu einem OK Lab gehören kann.

Mit den Labs Ruhrgebiet, Niederrhein und Düsseldorf wird es in Zukunft wohl öfter Projekte geben, die von mehr als einem OK Lab umgesetzt werden.

Deshalb müsste das irgendwie in die jekyll-Struktur eingebracht werden.

**Derzeit:**

[code]

**Wunschvorstellung:** _(für den Fall, dass mehrere Labs dahint

[2016-02-29 20:06] odadev commented on #568
+1

[2016-03-02 21:36] #568 closed, assigned to nobody

[2016-03-16 13:16] gitviola commented on #349
Was ist damit, hat sich das erledigt? (@soniaskhan @tursics)

[2016-03-16 13:32] gitviola commented on #552
Ich war selbst erst dafür. Aber da die Mehrzahl der Besucher nichts damit anfangen können, da sie erst eine Einladung bräuchten, ist es glaube besser die Aufklärung über das Slack-Team innerhalb der Labs zu belassen.

Vielleicht können die Labs auf ihre Lab-Unterseite anmerken, dass es die Möglichkeit dazu gibt. Aber was besseres fällt mir gerade nicht ein.
@johnjohndoe gib mir Bescheid, falls ich

[2016-03-16 14:21] johnjohndoe commented on #552
Meinetwegen.

[2016-03-16 14:21] #552 closed, assigned to nobody

[2016-04-30 22:04] tursics commented on #349
Ich habe das in https://github.com/okfde/codefor.de/pull/610 gefixt @schurig

[2016-05-01 10:12] gitviola commented on #349
@tursics supi, danke

[2016-05-01 10:12] #349 closed, assigned to nobody

[2016-05-01 10:26] gitviola commented on #506
@MorrisJobke @juliakloiber hmm, ich stoße irgendwie auch nur alle 3 Monate mal wieder auf dieses Dokument.

Also hier gibt es ja auch ein [Wiki](https://github.com/okfde/codefor.de/wiki), vielleicht können wir das da verlinken? Unter einem Punkt wie `Wichtige Links` vielleicht?

---

_Bin dabei alle Issues durchgehen, damit nicht so viel hängen bleibt. Daher, können wir das irgendwie abschließen o

[2016-05-01 10:33] gitviola commented on #423
@saerdnaer @MarHai maybe we start describing how to edit each page section in the [project Wiki](https://github.com/okfde/codefor.de/wiki) so we can link to it on every page?

Also, we could ask the users what section they want to edit and link to the right file.

[2016-05-02 08:15] MorrisJobke commented on #506
Feel free to do so :) Ich mag den Ansatz, dass wir das öffentlicher verlinken :)

[2016-05-02 08:36] gitviola commented on #506
@MorrisJobke habs mal direkt auf der Wiki Startseite verlinkt. :)

Wollen wir dieses Issue dann erstmal schließen?

[2016-05-02 08:37] #506 closed, assigned to nobody

[2016-05-02 09:56] gitviola commented on #302
@HerHde I also prefer a clean root directory but since we use jekyll we should stick with the jekyll conventions (4). If we put each lab into a `oklabs` directory the url will change as well `codefor.de/oklabs/ruhrgebiet` which means that we will have tons of dead links (SEO ranking) unless we create a 301 redirection for each lab (1, 2).

3: I think all files that currently are in the root direct

[2016-05-02 10:22] gitviola commented on #89
Das issue ist jetzt schon sehr alt _(bin gerade im cleanup-Modus)_. Bekommen wir das noch gelöst?

@keimlink @ironjan

[2016-05-02 10:35] gitviola commented on #347
@soniaskhan does this still needs to be fixed? If so: could you please add the link to the project? also, who can fix it?

Feel free to close this issue in case it has been fixed already

[2016-05-02 10:46] gitviola commented on #301
now there is a sitemap: http://codefor.de/sitemap.xml :)

Also there is no _oklabs_-Page anymore

[2016-05-02 10:56] gitviola commented on #238
Hey @almereyda, is this issue still relevant? :)

[2016-05-02 11:57] ironjan commented on #89
Da codeforpb zwischenzeitlich auf codefor.de umgezogen und nun inaktiv ist, hat sich das Problem für mich erledigt. Dennoch würde ich das Einfügen der Lizenz ins Repo empfehlen, damit man einfach sieht, was wie wiederverwendet werden darf.

[2016-05-02 11:57] MorrisJobke commented on #347
This is fixed: http://codefor.de/projekte/2014-04-27-hh-kitaKarte

[2016-05-02 11:57] #347 closed, assigned to nobody

[2016-05-02 12:00] MorrisJobke commented on #238
2014 -> close

[2016-05-02 12:00] #238 closed, assigned to nobody

[2016-05-02 12:24] keimlink commented on #89
Ich kann nicht mehr tun, als auf die Probleme aufmerksam zu machen und Lösungen vorzuschlagen. Die Entscheidung muss IMO jemand von der @okfde treffen.

[2016-06-16 20:05] #336 closed, assigned to nobody

[2016-06-17 22:22] saerdnaer commented on #337
Da jetzt erledigt: Bitte schließen.

[2016-06-18 07:38] #337 closed, assigned to nobody

[2016-06-20 07:59] saerdnaer commented on #423
I don't think that an explanation in project wiki is essential. Once you now where to look, the yaml files are more or less self explaining. In my view, the next step is to find places for such edit links, where they don't disturb the general reader.

[2016-07-28 21:19] konstin opened #645 "Update profile pictures shown for members"
Ideally, this should be done daily by a cron job or something similar.

[2016-07-28 21:39] MorrisJobke commented on #645
@konstin or simply run the script while adding the user to the list ;)

[2016-07-28 21:40] MorrisJobke commented on #645
I ran the script and it imported one avatar: 063dbfa

I would go for a manual thing, because the cron job also needs to be checked if it still works and needs also some maintenance.

[2016-08-01 18:17] #645 closed, assigned to nobody

[2016-10-29 19:59] tim-peters opened #661 "Dead Links on press page"
[http://codefor.de/presse/]
It seems like some of the links on the press page are defective.
- The re:publica talk Youtube link links to `hhttps://www.youtube.com/watch?v=kwmuQwNNJhQ` (I think the second h in the beginning is a typo)
- the 'download PDF' link of the same section (`Slidedeck: Civic Tech – For the people, by the people, of the people`) isn't working for me as well

Cheers

[2016-10-29 21:06] #661 closed, assigned to nobody

[2016-11-08 22:46] marcel12bell commented on #509
@johnjohndoe @schurig I added the sorting featute in diabolical #666 for lab projects...
feel free to to exorcise or share.

[2016-11-09 14:40] saerdnaer commented on #423
@schurig Can you remove the 'waiting for response'-tag?

[2017-01-16 11:47] ffalt opened #681 "Liquid Errors nach Jekyll Update"
Hi, nach dem Update von Jekyll in #680 werden so einige Liquid Syntax Fehler ausgegeben, weswegen die Seite auf dem OKF-Server nicht mehr aktualisiert wird.

[code]
Da hat sich im Format einiges geändert
https://jekyllrb.com/docs/upgrading/2-to-3/

Diese Warnungen kann der Server nicht ignorieren und sollte es wahrscheinlich auch nicht.

[2017-01-16 12:03] ffalt commented on #681
Mmh. im obigen Link steht nicht viel zu Liquid. Für die ersten zwei Zeilen der Warnungen hat [hier](https://github.com/jekyll/jekyll/issues/3559) jemand die korrekte Liquid Syntax bei einem ähnlichen Problem angegeben.

[2017-01-16 12:59] michael-k commented on #681
I'll look into it.  For now I reverted the last two commits in 7538477.

[2017-02-16 00:24] #681 closed, assigned to michael-k

[2017-03-14 22:12] konstin opened #709 "Tagging for Projects"
It is currently very difficult to find similar projects or to quickly look for usages of a certain technology. This problem would be solved by adding tags to projects and then create pages with all projects with a certain tag. Example of websites successfully using tags are [cargo](https://crates.io/keywords) and of course github.

[2017-04-02 23:14] muescha opened #716 "Dead Project Links"
where:
https://codefor.de/koeln/
https://codefor.de/projekte/

what:
click on a link with prject title
https://codefor.de/projekte/2014-03-22-hn-trinkwasser
https://codefor.de/projekte/2016-11-28-cologne-openair

what i see:
i see the home page

what i expected:
i see the project detail page

[2017-04-03 19:51] #716 closed, assigned to michael-k

[2017-04-03 20:00] muescha commented on #716
👍

[2017-04-25 17:12] todendah commented on #223
Would be great, if all meetup.com-events were added automatically on the website. Active communities with weekly meetups do not need to add an event every week again.

[2017-04-26 10:37] arduina commented on #223
Absolutely. We are planning to relaunch the website soon, so remarks like these are really helpful! Grain of salt: I won't be able to manage a relaunch before June, so if you have ideas on how to implement this feature, you are invited to give it a try. Just make sure you have some kind of feedback by the community.

[2017-04-26 21:21] todendah commented on #223
@arduina Unfortunately I am not a coder, but I will try to research a bit in the next weeks. Maybe I find something useful!

[2017-08-15 09:27] flapperleenie commented on #310
Code for Romania as well: https://code4.ro/proiect/centru-civic/
![screen shot 2017-08-15 at 11 26 53](https://user-images.githubusercontent.com/12009666/29310067-aa10add0-81ac-11e7-911d-ff9416c3b81d.png)

[2017-09-06 08:54] johnjohndoe opened #752 "Add press kit"
Add a press kit to the website with the usual information and logos in different sizes.
Logos can be found [here](http://hexb.in).

[2017-09-26 07:42] devurandom opened #762 "Map missing on small screens"
On my phone, and when I enable "Test screen size (Bildschirmgröße testen -- Ctrl + Shift + M)" in the developer console in Firefox, the map with the different cities and "OK Labs" is missing on the [main page](https://codefor.de/). Thus "wann das nächste Treffen stattfindet und wie man mitmachen kann, erfährst Du durch einen Klick auf die jeweilige Stadt" becomes very confusing to mobile users, si

[2017-10-04 13:39] michael-k commented on #762
[`hidden-xs`](https://getbootstrap.com/docs/3.3/css/#responsive-utilities-classes)
https://github.com/okfde/codefor.de/blob/6796da055a3a4311da343b1ade668aea19803c2f/index.html#L46

[2018-04-13 11:26] michaeljokf opened #820 "Picture on the actual blog page"
I like the way that pictures are being teasered here: https://codefor.de/blog/

But in my opinion the picture should still appear on the blog subpage as well e.g.: https://codefor.de/blog/Rueckblick-Open-Data-Day.html otherwise users do not see it if they go to the subpage directly for example via Twitter.

I don't know what we have to do to change this, but think it would be a useful improvement.

[2018-04-23 18:31] derhuerst opened #823 "non-existent results in 200 and the start page being shown"
[code]

[2018-04-28 23:02] jfilter commented on #339
rechte gewalt is done. I updated the status in #825

[2018-04-28 23:02] #339 closed, assigned to nobody

[2018-04-28 23:09] jfilter commented on #89
Können wir bitte einfach z.B. die MIT-Lizenz nehmen und das Issue schließen?

Ich glaube allen Beteiligten ist klar, dass dieses Repo nicht **das** Referenz-Projekt für Webseitengestaltung im Jahre 2018 ist. Es geht ja hier ein wenig *um's Prinzip* (welches ich befürtworte).

[2018-04-28 23:10] jfilter commented on #338
@stkdiretto: I guess this can be closed, right?

[2018-04-28 23:20] jfilter commented on #302
Yes, the folder structure is not great. But we should under no circumstances change the URLs. So let's leave it as it is. ;)

If you really want to improve the website and it's setup, I guess you would re-write it with <https://gohugo.io/>. But I also don't see any real value of spending so much time on it.

Since there hasn't a lot of activity in this issue, I will close it.

[2018-04-28 23:20] #302 closed, assigned to nobody

[2018-04-28 23:22] jfilter commented on #301
Since there hasn't been a lot of activity, I will close this issue. If you want to improve the code, feel free to send PRs.

[2018-04-28 23:22] #301 closed, assigned to nobody

[2018-04-28 23:23] jfilter commented on #345
@milafrerichs: I guess this can be closed?

[2018-04-28 23:33] jfilter commented on #223
There is something here now: https://codefor.de/termine/

But the events from MeetUp are not included. So it's usually empty or only a couple of events are displayed. In the current state, people could think there arn't any events in e.g. Berlin. Maybe just hide it for now?

[2018-04-28 23:34] jfilter commented on #159
I guess it was fixed and we close this issue?

[2018-04-29 11:09] stkdiretto commented on #338
yep

[2018-04-29 11:09] #338 closed, assigned to nobody

[2018-05-02 21:03] johnjohndoe commented on #159
@jfilter, as far as I can tell the initial issue that projects do **not** reflect their actual status on their project page still remains **unresolved**. :-1:
The minor issue with regards to the inconsistent detail page status was resolved. Please note that I fixed the link to the relevant commit.

[2018-05-03 10:22] jfilter commented on #159
Just to clarify: The software is working fine now. But we have to go over each project and check whether the current status is correct, right? I agree that too many projects are not marked as finished/discontinued.

[2018-05-03 11:20] johnjohndoe commented on #159
Yes, that is my understanding of the technical and project states.

[2018-11-13 13:15] DasNordlicht opened #841 "An overview of the labs on the phone is missing"
Because the map isn't  displayed on small screens (Issue # 762), a list would appear instead of the map. This helps a mobile visitor and the labs can also be reached from their mobile phone.

[2018-11-19 21:52] derhuerst commented on #223
My opinion: Why would I want to know what's going on in *all* 25 labs, on the detail level of MeetUp? I'd rather:

1. encourage people to look at the page of their local lab, or
2. have a curated list with events with Germany-wide relevance.

Since 2 seems to be something the will stop working over time, I'm in favour of 1.

[2018-11-19 23:17] jfilter commented on #752
There is already https://codefor.de/presse/ so it should go there. The section is also not maintained since 2016. Maybe @michaeljokf know some recent press articles?

[2018-11-19 23:18] jfilter opened #845 "Put `Stories` also on Landing Page"
The landing page is currently quite empty. I would like to either teaser one specific `Story` or link to all of them directly. What do you think?

[2018-11-19 23:26] jfilter commented on #820
To circumvent this, some blog posts also add the preview image as part of their posts, i.e. https://github.com/okfde/codefor.de/edit/gh-pages/_posts/2018-11-19-European-Data-Summit-Rufus-Pollock-in-Berlin.md.

We could look into this but I am not sure if it's worth the time. If we now add them automatically, we have to go over all the old posts and remove duplicate images. What do you think?

[2018-11-19 23:30] jfilter commented on #841
So let's close this issue and continue the discussion in #762?

[2018-11-20 09:20] #89 closed, assigned to nobody

[2018-11-26 20:00] #223 closed, assigned to nobody

[2018-12-20 07:57] DasNordlicht commented on #841
ok, continue the discussion in #762

[2018-12-20 07:57] #841 closed, assigned to nobody

[2019-07-05 17:52] jfilter opened #883 "Duplicatin CoC (2.)"
https://www.codefor.de/code-of-conduct/

[2019-11-05 19:16] rowbean opened #913 "Mixed languages on project list"
When browsing https://codefor.de/projekte/alle/ there is https://codefor.de/projekte/2014-07-14-Muenchen-Transparent.html and https://codefor.de/en/projekte/2014-07-14-Muenchen-Transparent.html listed. The latter should only be displayed when you switch to english language.

[2019-11-05 20:13] quassy commented on #913
Also here https://codefor.de/muenchen/ & https://codefor.de/en/muenchen/